.layout-topbar-indigo {
    --topbar-bg: #3F51B5;
    --topbar-start-bg: #283593;

    --topbar-menu-button-bg:#E91E63;
    --topbar-menu-button-hover-bg:#E91E63;
    --topbar-menu-button-text-color:#ffffff;

    --topbar-item-text-color: #ffffff;
    --topbar-item-hover-bg: rgba(255,255,255,.12);
}
