<div class="layout-footer">
   <div style="display: flex; align-items: center; justify-content: flex-start;">
      <img src="assets/demo/images/CDX3/logo/cdx3Logo2.jpeg" style="width: 11%; height: auto;"/>
      <img src="assets/demo/images/CDX3/footerLogo/footerTextImg2.PNG" style="height: 20px; margin-left: 10px;"/>
   </div>
    <div class="flex gap-2">
        <button pButton pRipple type="button" icon="pi pi-github" class="p-button-rounded p-button-text p-button-plain"></button>
        <button pButton pRipple type="button" icon="pi pi-facebook" class="p-button-rounded p-button-text p-button-plain"></button>
        <button pButton pRipple type="button" icon="pi pi-twitter" class="p-button-rounded p-button-text p-button-plain"></button>
    </div>
</div>